spring-projects/spring-project-tests/spring-webservice-tests/holidayService/src/test/resources/xsd/res.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="qualified">

    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Code" type="xs:int"/>
                <xs:element name="Msg" type="xs:string"/>
                <xs:element name="PatientID" type="xs:string"/>
                <xs:element name="Name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
